.headerModal {
  margin-top: 90px;
  padding: .5rem;
  left: 88%;
  position: fixed;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  display: none;
  z-index: 1;
}

.headerModal a, .headerModal div {
  font-size: .8rem;
  text-decoration: none;
  padding: .5rem;
  color: black;
}

.headerModal div {
  cursor: pointer
}

.headerModal a:hover, .headerModal div:hover {
  color: #3FC2B9;
}

.headerModal li:nth-of-type(1) {
  padding-bottom: 10%;
}

.displayHeaderModal {
  display: block;
}

@media only screen and (min-width: 600px) and (max-width: 920px) {
  .headerModal {
    margin-top: 85px;
    padding: .5rem;
    left: 84%;
    width: 80px;
  }

  .headerModal a, .headerModal div {
    font-size: .8rem;
    text-decoration: none;
    padding: .2rem;
  }
}

@media only screen and (max-width: 599px) {
  .headerModal {
    margin-top: 85px;
    padding: .5rem;
    left: 72%;
    width: 80px;
  }

  .headerModal a {
    font-size: .8rem;
    text-decoration: none;
    padding: .2rem;
  }
}